@using InstagramWrapper;
@model InstagramWrapper.Model.InstagramResponse
@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <title>Instagram</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Style.css")" />
    <script src="@Url.Content("~/Scripts/Custom.js")" type="text/javascript"></script>
</head>
<body>
    @{var t = 0; var i = 1;}
    <div class="tab-@(t)">
        @if (Request.IsAuthenticated)
        {
            foreach (var item in Model.data)
            {
                if (item.type == "image")
                {
                    <img src="@item.images.standard_resolution.url" height="250" width="250" />
                    if (i % 4 == 0)
                    {
                        t++;
                        @:</div><div class="tab-@(t)">
                    }
                }
                i++;
            }
        }
        </div>
        else
        {
            @Html.Partial("Login")
        }
</body>
</html>
